.about-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-title {
  display: inline-block;
  margin: 0 auto 30px;
  position: relative;
  font-family: 'Gabriela';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 82px;
  text-align: center;
  color: #24924B;
}

@media screen and (max-width: 1000px) {
  .about-title {
    margin: 0 auto 20px;
    font-size: 5rem;
  }
}

@media screen and (max-width: 700px) {
  .about-title {
    font-size: 4rem;
  }
}

@media screen and (max-width: 500px) {
  .about-title {
    font-size: 3.5rem;
    margin: 0 auto 15px;
  }
}

@media screen and (max-width: 500px) {
  .about-title {
    font-size: 3.2rem;
    margin-bottom: 0px;
  }
}

.about-title::after, .about-title::before {
  position: absolute;
  top: 45%;
  content: "";
  width: 155px;
  height: 20px;
  background: url("/img/vector.svg") no-repeat;
}

@media screen and (max-width: 500px) {
  .about-title::after, .about-title::before {
    top: 45%;
    width: 100px;
    background-size: contain;
  }
}

.about-title::before {
  left: -200px;
}

@media screen and (max-width: 1000px) {
  .about-title::before {
    left: -170px;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@media screen and (max-width: 500px) {
  .about-title::before {
    left: -110px;
  }
}

.about-title::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  right: -200px;
}

@media screen and (max-width: 1000px) {
  .about-title::after {
    right: -170px;
    -webkit-transform: scale(-0.8, 0.8);
            transform: scale(-0.8, 0.8);
  }
}

@media screen and (max-width: 500px) {
  .about-title::after {
    right: -110px;
  }
}

.about-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto 80px;
  border-radius: 60px;
}

@media screen and (max-width: 1000px) {
  .about-block {
    margin: 0 auto 40px;
  }
}

@media screen and (max-width: 600px) {
  .about-block {
    width: 85%;
    padding: 0px 20px;
    border-radius: 50px;
  }
}

@media screen and (max-width: 500px) {
  .about-block {
    margin: 0 auto 30px;
    padding: 0 20px;
    border-radius: 40px;
  }
}

.about-block__text {
  text-align: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 150%;
  color: #000000;
  max-width: 700px;
}

@media screen and (max-width: 1000px) {
  .about-block__text {
    max-width: 600px;
    font-size: 2rem;
  }
}

@media screen and (max-width: 700px) {
  .about-block__text {
    max-width: 500px;
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 500px) {
  .about-block__text {
    max-width: 350px;
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 413px) {
  .about-block__text {
    font-size: 1.4rem;
  }
}
/*# sourceMappingURL=about.css.map */