.about-list {
  padding: 70px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1280px) {
  .about-list {
    padding: 70px 50px;
  }
}

@media screen and (max-width: 767px) {
  .about-list {
    padding: 70px 50px 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .about-list {
    padding: 40px 30px 10px;
  }
}

.about-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .about-list__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (max-width: 414px) {
  .about-list__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 15px;
  }
}

.about-list__img-container {
  position: relative;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .about-list__img-container {
    margin-right: 20px;
  }
}

@media screen and (max-width: 414px) {
  .about-list__img-container {
    margin-right: 0;
    margin-bottom: 5px;
  }
}

.about-list__img {
  max-width: 145px;
}

@media screen and (max-width: 767px) {
  .about-list__img {
    max-width: 100px;
  }
}

.about-list__text {
  text-align: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  color: #3D221E;
}

@media screen and (max-width: 1200px) {
  .about-list__text {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .about-list__text {
    text-align: left;
    max-width: 550px;
    font-size: 18px;
  }
}

@media screen and (max-width: 600px) {
  .about-list__text {
    line-height: 130%;
    font-size: 15px;
  }
}

@media screen and (max-width: 414px) {
  .about-list__text {
    text-align: center;
    font-size: 14px;
  }
}

.about-phrase {
  padding: 35px 0;
  margin-bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(89, 172, 1, 0.1);
}

.about-phrase__text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 140%;
  text-align: center;
  color: #3D221E;
}

@media screen and (max-width: 1200px) {
  .about-phrase__text {
    max-width: 900px;
  }
}

@media screen and (max-width: 1000px) {
  .about-phrase__text {
    max-width: 800px;
    font-size: 28px;
  }
}

@media screen and (max-width: 767px) {
  .about-phrase__text {
    max-width: 600px;
    font-size: 24px;
  }
}

@media screen and (max-width: 600px) {
  .about-phrase__text {
    padding: 0 15px;
    font-size: 20px;
  }
}

@media screen and (max-width: 400px) {
  .about-phrase__text {
    padding: 0 10px;
    font-size: 16px;
  }
}

.about-phrase span {
  font-family: 'Gabriela';
  font-weight: 600;
  font-size: 36px;
}

@media screen and (max-width: 1000px) {
  .about-phrase span {
    font-size: 32px;
  }
}

@media screen and (max-width: 767px) {
  .about-phrase span {
    font-size: 28px;
  }
}

@media screen and (max-width: 600px) {
  .about-phrase span {
    font-size: 22px;
  }
}

@media screen and (max-width: 400px) {
  .about-phrase span {
    font-size: 18px;
  }
}
/*# sourceMappingURL=about.css.map */