@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Gabriela&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gabriela&family=Montserrat:wght@400;500;600;700;800&display=swap");
.products-container,
.cart-container {
  margin: 80px auto !important;
  padding: 80px 100px;
  background: #E8CFB0;
  -webkit-box-shadow: 0px 4px 50px #BEB29E;
          box-shadow: 0px 4px 50px #BEB29E;
  border-radius: 20px;
}

.products-list {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  overflow: hidden;
}

.category-name {
  padding: 20px 40px;
  font-family: 'Gabriela';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 110%;
  color: #216034;
  border-bottom: 1px solid #216034;
  cursor: pointer;
}

.category-name--active {
  background: rgba(33, 96, 52, 0.9);
  -webkit-box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
}

.category-item {
  display: -ms-grid !important;
  display: grid !important;
  -ms-grid-columns: 4fr 1fr 1fr 1fr;
      grid-template-columns: 4fr 1fr 1fr 1fr;
  font-size: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.category-item__name {
  margin: 0;
  margin-right: 20px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 110%;
  color: #3D221E;
}

.category-item__pack {
  margin: 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 110%;
  color: #216034;
}

.category-item__quantity-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.category-item__btn-quantity {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  line-height: 0;
  color: #888888;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background: #E5E5E5;
  cursor: pointer;
}

.category-item__btn {
  padding: 10px 40px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 110%;
  color: #FFFFFF;
  background: rgba(89, 172, 1, 0.6);
  -webkit-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 10px;
}

.category-item__btn:hover {
  background: rgba(33, 96, 52, 0.8);
}

.category-item__btn:active {
  -webkit-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.25) inset;
          box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.25) inset;
}

.category-item__inner {
  margin: 0 10px;
}

.category-item__quantity {
  margin: 0 0 5px;
  text-align: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 110%;
  color: #000000;
}

.category-item__weight {
  margin: 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 110%;
  color: #216034;
}

.category-item__price {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 110%;
  color: #3D221E;
}

.cart-category-list {
  display: none;
}

.cart-category-list--active {
  display: block;
}

.cart-category-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: justify-content;
          flex-direction: justify-content;
  grid-gap: 20px;
}

.cart-list,
.cart-purchase {
  min-height: 400px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.cart-list {
  position: relative;
  padding: 50px 20px;
  width: 65%;
}

.cart-list:before {
  position: absolute;
  padding: 10px 20px;
  top: -7%;
  left: 0;
  content: "Корзина";
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  color: #000000;
  border-radius: 20px 20px 0 0;
  background: #FFFFFF;
}

.cart-list__product {
  margin-bottom: 12px;
  padding: 20px 25px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 8fr 2fr 2fr 1fr;
      grid-template-columns: 8fr 2fr 2fr 1fr;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 26px #BEB29E;
          box-shadow: 0px 4px 26px #BEB29E;
  border-radius: 20px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 110%;
  color: #000000;
}

.cart-list__name {
  margin: 0 0 5px;
}

.cart-list__pack {
  font-size: 18px;
  color: #216034;
}

.cart-list__price {
  text-align: center;
}

.cart-list__del {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  -webkit-mask-image: url("../delicacies/img/bin.svg");
          mask-image: url("../delicacies/img/bin.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  background-color: #444;
  cursor: pointer;
}

.cart-list__del:hover {
  background: #8f0f22;
}

.cart-purchase {
  width: 30%;
  padding: 40px 20px;
}

.form-purchase {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form-purchase__block {
  margin-bottom: 10px;
  overflow: hidden;
}

.form-purchase__input, .form-purchase__msg {
  width: 95%;
  padding: 5px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  color: #525252;
  border: 0;
  border: 3px solid rgba(82, 82, 82, 0.2);
  border-radius: 10px;
}

.form-purchase__btn {
  margin: 0 auto;
  padding: 15px 20px;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #59AC01;
  border: none;
  border-radius: 20px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: #FFFFFF;
}

.form-purchase__info {
  margin-bottom: 30px;
  font-family: 'Montserrat';
  font-style: normal;
  line-height: 100%;
}

.form-purchase__weight-container {
  font-weight: 500;
  font-size: 14px;
  color: #999999;
  border-bottom: 2px dashed #999999;
}

.form-purchase__price-container {
  font-weight: 600;
  font-size: 18px;
  color: #000000;
}
/*# sourceMappingURL=cart.css.map */