.category {
    position: relative;
    padding: 50px 0 100px;
}

.category-list {
    padding: 0 20px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "sos sos"
                        "kol sar"
                        "kop pol"
                        "pr pr";
    grid-gap: 50px;

    @media screen and (max-width: 700px) {
        grid-gap: 40px;
    }

    @media screen and (max-width: 600px) {
        display: flex;
        flex-direction: column;
        grid-gap: 30px;
    }
    
    &__item {
        position: relative;
        padding: 20px 30px;
        justify-content: center;
        background: url('../img/grass-back.png') no-repeat;
        background-size: 40%;
        background-position: right bottom;
        background-color: #E5C9A7;
        border-radius: 20px;
        box-shadow: 0px 4px 26px #BEB29E;

        &:nth-child(1) {
            grid-area: sos;
            background-size: 25%;

            @media screen and (max-width: 600px) {
                background-size: 40%;
            }
        }
        &:nth-child(2) {
            grid-area: kol;
        }
        &:nth-child(3) {
            grid-area: sar;
        }
        &:nth-child(4) {
            grid-area: kop;
        }
        &:nth-child(5) {
            grid-area: pol;
        }
        &:nth-child(6) {
            grid-area: pr;
            background-size: 25%;

            @media screen and (max-width: 600px) {
                font-size: 2.5rem;
                background-size: 40%;
            }
        }

        @media screen and (max-width: 1000px) {
            background-size: 40%
        }
    }

    &__name {
        max-width: 800px;
        margin: 0 auto;
        text-align: center;
        font-family: 'Gabriela';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 120%;
        color: #3D221E;

        @media screen and (max-width: 1000px) {
            font-size: 2.5rem;
        }

        @media screen and (max-width: 700px) {
            font-size: 2.1rem;
        }

        @media screen and (max-width: 600px) {
            font-size: 2.5rem;
        }

        @media screen and (max-width: 450px) {
            font-size: 2.2rem;
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__products {
        padding: 0 0 30px 0;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 199.4%;
        color: #383735;
        list-style: none;
        z-index: 10;

        @media screen and (max-width: 1200px) {
            font-size: 1.8rem;
        }

        @media screen and (max-width: 1000px) {
            font-size: 1.7rem;
            line-height: 170%;
        }

        @media screen and (max-width: 450px) {
            max-width: 260px;
            list-style: circle;
            font-size: 1.5rem;
        }
    }

    &__more {
        position: absolute;
        bottom: 20px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 199.4%;
        text-decoration-line: underline;
        color: #000000;
        transition: all 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
        cursor: pointer;

        &:hover {
            color: #24924B;
        }

        @media screen and (max-width: 1200px) {
            font-size: 1.8rem;
        }

        @media screen and (max-width: 450px) {
            font-size: 1.6rem;
        }
        
    }

    &__img {
        position: absolute;
        right: 0;
        bottom: 0;
        max-width: 35%;
        max-height: 280px;

        @media screen and (max-width: 1000px) {
            max-height: 240px;
        }
    }
}


.more-about {
    display: none;
    position: fixed;
    z-index: 100;
    padding: 100px 0; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.4);
    overflow: scroll; 
    justify-content: center;
    align-items: center;

    &__container {
        margin: 0 auto 150px;
        position: relative;
        max-width: 700px;
        width: 80%;
        padding: 25px 50px;
        align-items: center;
        justify-content: center;
        background: url('../img/grass-back.png') no-repeat;
        background-size: 40%;
        background-position: right bottom;
        background-color: #E5C9A7;
        box-shadow: 0px 4px 26px #BEB29E;
        border-radius: 20px;
        z-index: -2;

        @media screen and (max-width: 1000px) {
            max-width: 500px;
        }

        @media screen and (max-width: 600px) {
            padding: 20px 30px;
            max-width: 300px;
        }

        @media screen and (max-width: 400px) {
            width: 85%;
            padding: 20px;
        }

    }

    &__title {
        margin-bottom: 20px;
        font-family: 'Gabriela';
        font-style: normal;
        font-weight: 400;
        font-size: 3.4rem;
        line-height: 110%;
        color: #3D221E;

        @media screen and (max-width: 1000px) {
            font-size: 2.6rem;
        }

        @media screen and (max-width: 600px) {
            font-size: 2rem;
        }
    }

    &__img {
        position: absolute;
        width: 30%;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

    &__wrapper {
        display: block;
    }

    &__product-name {
        display: block;
        margin-bottom: 15px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 2rem;
        line-height: 110%;
        color: #3D221E;
        cursor: pointer;

        @media screen and (max-width: 1000px) {
            font-size: 1.8rem;
        }

        @media screen and (max-width: 600px) {
            font-size: 1.5rem;
        }

        @media screen and (max-width: 400px) {
           font-size: 1.4rem; 
        }

        &--active {
            margin-bottom: 30px;
            font-weight: 800;
            text-shadow: 1px 1px 5px rgba(124, 16, 33, 0.3);
        }
    }

    &__characteristics {
        display: none;
        margin: 15px 0 0 25px;
        padding-left: 20px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 160%;
        text-shadow: none;
        color: #3D221E;

        border-left: 3px solid #E7D4BD;

        @media screen and (max-width: 1000px) {
            font-size: 1.5rem;
        }

        @media screen and (max-width: 600px) {
            margin: 15px 0 0 5px;
            padding-left: 10px;
            font-size: 1.3rem;
        }

        @media screen and (max-width: 400px) {
            font-weight: 500;
        }

        &--active {
            display: block;
        }
    }

    &__characteristic {    
        display: none;
        margin-top: 5px;
        cursor: default;

        &--active {
            display: block;
        }
    }

    &__packs-wrapper {
        @media screen and (max-width: 600px) {
            margin-bottom: 10px;
        }
    }

    &__pack {
        margin: 0 5px;
        padding: 7px 20px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 100%;
        color: #3D221E;

        background: #E7D4BD;
        border: none;
        border-radius: 10px;

        @media screen and (max-width: 1000px) {
            font-size: 1.5rem;
        }

        @media screen and (max-width: 600px) {
            display: block;
            margin-bottom: 5px;
        }

        @media screen and (max-width: 400px) {
            font-size: 1.4rem;
        }

        &--active {
            color: #fdfdfd;
            background: #7C1021;
            box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.25);
        }
    }

    &__price {
        display: inline-block;
        margin-top: 7px;
        padding: 10px 20px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 100%;
        color: #3D221E;
        background: #EDDAC2;
        box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        cursor: default;

        @media screen and (max-width: 1000px) {
            font-size: 1.7rem;
        }

        @media screen and (max-width: 600px) {
            font-size: 1.5rem;
        }
    }
    
}