.category {
    position: relative;
    padding: 100px 0;
}

.category-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @media screen and (max-width: 1000px) {
        margin: 70px auto;
    }

    @media screen and (max-width: 768px) {
        margin: 70px auto 50px;
    }

    @media screen and (max-width: 413px) {
        margin: 40px auto 30px;
    }

    &__item {
        margin: 0 20px 50px;
        width: 21%;

        @media screen and (max-width: 1000px) {
            margin: 0 15px 30px;
            width: 19%;
        }

        @media screen and (max-width: 768px) {
            margin: 0 10px 30px;
            width: 25%;
        }

        @media screen and (max-width: 550px) {
            margin: 0 15px 20px;
            width: 35%;
        }

        @media screen and (max-width: 413px) {
            margin: 0 10px 15px;
        }
    }

    &__img-container {
        position: relative;
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
        border-radius: 50%;
        overflow: hidden;
        background:
        linear-gradient(white, white) padding-box,
        linear-gradient(94.25deg, #1eca1b 10.49%, rgb(25, 143, 33) 94.61%) border-box;
        border: 5px solid transparent;
        cursor: pointer;

        @media screen and (max-width: 1200px) {
            height: 20vw;
        }

        @media screen and (max-width: 1000px) {
            height: 18vw;
        }

        @media screen and (max-width: 768px) {
            height: 24vw;
        }

        @media screen and (max-width: 550px) {
            margin-bottom: 10px;
            height: 34vw;
        }
    }

    &__name {
        text-align: center;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 2.4rem;
        line-height: 120%;
        color: #926C49;

        @media screen and (max-width: 1000px) {
            font-size: 1.8rem;
        }

        @media screen and (max-width: 550px) {
            font-size: 1.7rem;
        }

        @media screen and (max-width: 413px) {
            font-size: 1.5rem;
            line-height: 110%;
        }
    }
}
