.category {
  position: relative;
  padding: 50px 0 100px;
}

.category-list {
  padding: 0 20px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: "sos sos" "kol sar" "kop pol" "pr pr";
  grid-gap: 50px;
}

@media screen and (max-width: 700px) {
  .category-list {
    grid-gap: 40px;
  }
}

@media screen and (max-width: 600px) {
  .category-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    grid-gap: 30px;
  }
}

.category-list__item {
  position: relative;
  padding: 20px 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("../img/grass-back.png") no-repeat;
  background-size: 40%;
  background-position: right bottom;
  background-color: #E5C9A7;
  border-radius: 20px;
  -webkit-box-shadow: 0px 4px 26px #BEB29E;
          box-shadow: 0px 4px 26px #BEB29E;
}

.category-list__item:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: sos;
  background-size: 25%;
}

@media screen and (max-width: 600px) {
  .category-list__item:nth-child(1) {
    background-size: 40%;
  }
}

.category-list__item:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: kol;
}

.category-list__item:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: sar;
}

.category-list__item:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: kop;
}

.category-list__item:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: pol;
}

.category-list__item:nth-child(6) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: pr;
  background-size: 25%;
}

@media screen and (max-width: 600px) {
  .category-list__item:nth-child(6) {
    font-size: 2.5rem;
    background-size: 40%;
  }
}

@media screen and (max-width: 1000px) {
  .category-list__item {
    background-size: 40%;
  }
}

.category-list__name {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Gabriela';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  color: #3D221E;
}

@media screen and (max-width: 1000px) {
  .category-list__name {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 700px) {
  .category-list__name {
    font-size: 2.1rem;
  }
}

@media screen and (max-width: 600px) {
  .category-list__name {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 450px) {
  .category-list__name {
    font-size: 2.2rem;
  }
}

.category-list__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.category-list__products {
  padding: 0 0 30px 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 199.4%;
  color: #383735;
  list-style: none;
  z-index: 10;
}

@media screen and (max-width: 1200px) {
  .category-list__products {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 1000px) {
  .category-list__products {
    font-size: 1.7rem;
    line-height: 170%;
  }
}

@media screen and (max-width: 450px) {
  .category-list__products {
    max-width: 260px;
    list-style: circle;
    font-size: 1.5rem;
  }
}

.category-list__more {
  position: absolute;
  bottom: 20px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 199.4%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #000000;
  -webkit-transition: all 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
}

.category-list__more:hover {
  color: #24924B;
}

@media screen and (max-width: 1200px) {
  .category-list__more {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 450px) {
  .category-list__more {
    font-size: 1.6rem;
  }
}

.category-list__img {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 35%;
  max-height: 280px;
}

@media screen and (max-width: 1000px) {
  .category-list__img {
    max-height: 240px;
  }
}

.more-about {
  display: none;
  position: fixed;
  z-index: 100;
  padding: 100px 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: scroll;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.more-about__container {
  margin: 0 auto 150px;
  position: relative;
  max-width: 700px;
  width: 80%;
  padding: 25px 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("../img/grass-back.png") no-repeat;
  background-size: 40%;
  background-position: right bottom;
  background-color: #E5C9A7;
  -webkit-box-shadow: 0px 4px 26px #BEB29E;
          box-shadow: 0px 4px 26px #BEB29E;
  border-radius: 20px;
  z-index: -2;
}

@media screen and (max-width: 1000px) {
  .more-about__container {
    max-width: 500px;
  }
}

@media screen and (max-width: 600px) {
  .more-about__container {
    padding: 20px 30px;
    max-width: 300px;
  }
}

@media screen and (max-width: 400px) {
  .more-about__container {
    width: 85%;
    padding: 20px;
  }
}

.more-about__title {
  margin-bottom: 20px;
  font-family: 'Gabriela';
  font-style: normal;
  font-weight: 400;
  font-size: 3.4rem;
  line-height: 110%;
  color: #3D221E;
}

@media screen and (max-width: 1000px) {
  .more-about__title {
    font-size: 2.6rem;
  }
}

@media screen and (max-width: 600px) {
  .more-about__title {
    font-size: 2rem;
  }
}

.more-about__img {
  position: absolute;
  width: 30%;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.more-about__wrapper {
  display: block;
}

.more-about__product-name {
  display: block;
  margin-bottom: 15px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 110%;
  color: #3D221E;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .more-about__product-name {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 600px) {
  .more-about__product-name {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 400px) {
  .more-about__product-name {
    font-size: 1.4rem;
  }
}

.more-about__product-name--active {
  margin-bottom: 30px;
  font-weight: 800;
  text-shadow: 1px 1px 5px rgba(124, 16, 33, 0.3);
}

.more-about__characteristics {
  display: none;
  margin: 15px 0 0 25px;
  padding-left: 20px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  text-shadow: none;
  color: #3D221E;
  border-left: 3px solid #E7D4BD;
}

@media screen and (max-width: 1000px) {
  .more-about__characteristics {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .more-about__characteristics {
    margin: 15px 0 0 5px;
    padding-left: 10px;
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 400px) {
  .more-about__characteristics {
    font-weight: 500;
  }
}

.more-about__characteristics--active {
  display: block;
}

.more-about__characteristic {
  display: none;
  margin-top: 5px;
  cursor: default;
}

.more-about__characteristic--active {
  display: block;
}

@media screen and (max-width: 600px) {
  .more-about__packs-wrapper {
    margin-bottom: 10px;
  }
}

.more-about__pack {
  margin: 0 5px;
  padding: 7px 20px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  color: #3D221E;
  background: #E7D4BD;
  border: none;
  border-radius: 10px;
}

@media screen and (max-width: 1000px) {
  .more-about__pack {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .more-about__pack {
    display: block;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 400px) {
  .more-about__pack {
    font-size: 1.4rem;
  }
}

.more-about__pack--active {
  color: #fdfdfd;
  background: #7C1021;
  -webkit-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.25);
}

.more-about__price {
  display: inline-block;
  margin-top: 7px;
  padding: 10px 20px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 100%;
  color: #3D221E;
  background: #EDDAC2;
  -webkit-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  cursor: default;
}

@media screen and (max-width: 1000px) {
  .more-about__price {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 600px) {
  .more-about__price {
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=category.css.map */