.production {
    background: url('../img/back-production.png');
}

.production-container {
    max-width: 1300px;
    margin: 0 auto;

    @media screen and (max-width: 1300px) {
        max-width: 1000px;
    }

    @media screen and (max-width: 1000px) {
        max-width: 750px;
    }
    
}

.production-list {
    &__item {
        padding-bottom: 50px;
        display: flex;
        grid-gap: 30px;

        @media screen and (max-width: 767px) {
            flex-direction: column;
            align-items: center;
            grid-gap: 10px;
        }

        &:nth-child(even) {
            .production-list__text {
                order:2;
                text-align: left;
            }
        }
    }

    &__text {
        margin: 0;
        padding-bottom: 15px;
        width: 70%;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 150%;
        text-align: right;
        color: #3D221E;

        @media screen and (max-width: 1300px) {
            font-size: 18px;
        }

        @media screen and (max-width: 1000px) {
            font-size: 16px;
        }

        @media screen and (max-width: 767px) {
            width: 70%;
            order: 2;
            text-align: center !important;
        }

        @media screen and (max-width: 600px) {
            width: 85%;
            font-size: 14px;
        }

        @media screen and (max-width: 414px) {
            text-align: justify !important;
            width: 95%;
            font-size: 13px;
            line-height: 140%;
        }

        span {
            display: block;
            margin-bottom: 15px;
            font-weight: 700;
            font-size: 30px;
            line-height: 140%;

            @media screen and (max-width: 1300px) {
                font-size: 22px;
            }

            @media screen and (max-width: 1000px) {
                font-size: 18px;
            }

            @media screen and (max-width: 767px) {
                margin-bottom: 10px;
            }

            @media screen and (max-width: 600px) {
                font-size: 16px;
            }

            @media screen and (max-width: 414px) {
                text-align: center;
                font-size: 14px;
            }
        }
    }

    &__img-container {
        display: flex;
        justify-content: center;
    }

    &__img {
        max-width: 500px;
        border-radius: 10px;

        @media screen and (max-width: 1300px) {
            max-width: 400px;
        }

        @media screen and (max-width: 1000px) {
            max-width: 300px;
        }

        @media screen and (max-width: 767px) {
            max-width: 65%;
        }
    }
}